/* Buttons */

.btn {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 18rem;
    position: relative; /* position relative to the slide effect */
    padding: 1em 0.5em;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    font-size: clamp(1rem, 0.667rem + 1.33vw, 1.25rem); /* 400px - 700px*/
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    border-radius: 0.1rem;
    transition: all 250ms ease-in-out;
    overflow: hidden; /* hide slide element */

    --effect-width: 20px;
    --effect-width-skewed: 70px;
}

/* Buttons animation */

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
}

.btn::before {
    width: var(--effect-width);
    right: calc(100% + var(--effect-width-skewed) - var(--effect-width));
    background-color: hsla(0, 0%, 100%, 0.3);
    transform: skew(-45deg);
    transition: all 300ms ease-in-out 150ms;
} /* slide element before */

.btn:focus::before,
.btn:hover::before {
    right: calc(-1 * var(--effect-width-skewed));
}

.btn::after {
    right: 0;
    width: 0;
    background-color: var(--color-accent-light);
    transition: all 300ms ease-in-out 0s;
} /* slide element after */

.btn:focus::after,
.btn:hover::after {
    left: 0;
    right: auto;
    width: 100%;
}

.btn--resume {
    background-color: var(--color-dark-secondary);
    color: var(--color-accent-light);
}

.btn--projects {
    background-color: var(--color-accent-secondary);
    color: var(--color-dark);
}

.btn:focus,
.btn:hover {
    color: var(--color-dark);
    transform: scale(1.01);
}

.btn__text {
    display: block;
    position: relative;
    z-index: 1;
}
