/* Footer */

.footer {
    padding-top: 4rem;
    padding-bottom: 3.5rem;
    text-align: center;
    font-size: var(--font-size-h2);
    background-color: var(--color-dark);
    color: var(--color-accent-secondary);
}

.footer__email {
    font-weight: var(--font-weight-bold);
    text-decoration-style: dotted;
    text-underline-offset: 0.75rem;
    padding: 0.375rem 1rem;
}

.footer__email:hover {
    color: var(--color-light);
}

.footer__icons {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    column-gap: 1.25rem;
}

.footer__link {
    padding: 0.375rem 1rem;
}

.footer__link:hover {
    opacity: 0.7;
}