/* Footer */

.footer {
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    text-align: center;
    font-size: var(--font-size-h2);
    background-color: var(--color-dark);
    color: var(--color-accent-secondary);
}

.footer a {
    color: inherit;
}

.footer__link {
    font-weight: var(--font-weight-bold);
    text-decoration-style: dotted;
    text-underline-offset: 0.75rem;
    color: var(--color-accent-secondary);
}

.footer__link:hover {
    color: var(--color-light);
}

.footer__social-list {
    display: flex;
    justify-content: center;
    margin-top: 1.75rem;
    column-gap: 2rem;
}

.footer__social-list--link:hover {
    opacity: 0.7;
}