/* Intro */

/* more than 600px -> switch to desktop view */
@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin-left: auto;
        margin-right: auto;
        column-gap: 1rem;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
}

.intro::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    max-width: 400px;
    left: -10rem;
    top: -20rem;
    background-color: var(--color-accent-light);
    border-radius: 50%;
    animation: intro__bubble 10s infinite ease-in-out;
}

@keyframes intro__bubble {
    0% {
        transform: translateX(-0.5rem) translateY(-0.5rem);
    }
    33% {
        transform: translateX(0.5rem) translateY(-0.5rem);
    }
    66% {
        transform: translateX(-0.5rem) translateY(0.5rem);
    }
    100% {
        transform: translateX(-0.5rem) translateY(-0.5rem);
    }
}

.intro__title {
    font-weight: var(--font-weight-reg);
    font-size: clamp(2rem, 0.625rem + 5vw, 5rem);
    grid-area: title;
    align-self: center;
}

.intro__type {
    display: block;
}

.intro__subtitle {
    display: inline-block;
    margin-top: 0;
    padding: 0.25rem 1rem;
    font-family: var(--font-secondary);
    background-color: var(--color-accent);
    color: var(--color-light);
    width: 100%;
}

@media (min-width: 400px) {
    .intro__subtitle {
        font-size: 1.25rem;
    }
}

@media (min-width: 600px) {
    .intro__subtitle {
        position: relative;
        min-width: calc(100% + 2.75rem);
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        left: -1.5rem;
        margin-top: -1rem;
    }
}

@media (min-width: 800px) {
    .intro__subtitle {
        min-width: calc(100% + 3.25rem);
        font-size: 1.5rem;
    }
}

.intro__img {
    box-shadow: var(--shadow);
    opacity: 1;
    border-radius: 50%;
    min-width: clamp(10rem, 4rem + 16vw, 16rem);
    z-index: 2;
}

.intro__first-name {
    color: var(--color-dark);
    font-weight: 400;
    text-transform: uppercase;
    animation: intro__first-name 1.5s ease-in;
}

@keyframes intro__first-name {
    from {
        margin: -0.5rem;
    }
    to {
        margin: 0;
    }
}

.intro__last-name {
    letter-spacing: 0.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-dark);
    animation: intro__last-name 1.5s ease-in;
}

@keyframes intro__last-name {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.intro__project-detail {
    padding-top: 6rem;
}
