/*  My services section (What I Do) */

.my-services {
    text-align: center;
    margin: -1.5rem auto -1.5rem auto;
}

.my-services::before {
    content: "";
    position: absolute;
    max-width: 800px;
    width: 800px;
    height: 800px;
    margin-left: -76rem;
    z-index: -2;
    background-color: var(--color-accent-light);
    border-radius: 50%;
    animation: bubbleWobble 10s infinite ease-in-out;
}

@keyframes bubbleWobble {
    0% {
        transform: translateX(-0.5rem) translateY(-0.5rem);
    }
    33% {
        transform: translateX(0.5rem) translateY(-0.5rem);
    }
    66% {
        transform: translateX(-0.5rem) translateY(0.5rem);
    }
    100% {
        transform: translateX(-0.5rem) translateY(-0.5rem);
    }
}

.my-services h3 {
    font-family: var(--font-primary);
}

.my-services .highlighted-text {
    font-weight: 700;
    color: var(--color-accent);
}

.title--services {
    position: relative;
    margin-top: -2.5rem;
    color: var(--color-dark);
}

.title--services::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.75em auto;
    background-color: var(--color-dark);
    opacity: 0.25;
}

.services {
    margin-bottom: 2em;
    text-align: left;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
}

.service {
    max-width: 400px;
    margin: 0 auto 2em;
    font-family: var(--font-secondary);
}

@media (min-width: 800px) {
    .service {
        margin-bottom: 0;
    }

    .service + .service {
        margin-left: 2em;
    }
}
