/*  My services - "What I Do" */

.my-services {
    margin: -1.5rem auto;
}

.my-services::before {
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    left: -700px;
    z-index: -2;
    background-color: var(--color-accent-light);
    border-radius: 50%;
    animation: my-services__bubbleWobble 10s infinite ease-in-out;
}

@keyframes my-services__bubbleWobble {
    0% {
        transform: translateX(-0.5rem) translateY(-0.5rem);
    }
    33% {
        transform: translateX(0.5rem) translateY(-0.5rem);
    }
    66% {
        transform: translateX(-0.5rem) translateY(0.5rem);
    }
    100% {
        transform: translateX(-0.5rem) translateY(-0.5rem);
    }
}

.my-services__title {
    text-align: center;
    position: relative;
    margin-top: -2.5rem;
    color: var(--color-dark);
}

.my-services__title::after {
    content: "";
    display: block;
    width: 4.5rem;
    height: 1px;
    margin: 1rem auto 2rem;
    background-color: var(--color-dark);
    opacity: 0.25;
}

.my-services__services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    max-width: 62.5rem;
}

/* Services list (inside My services) */

.my-services__service {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25rem;
}

.my-services__text {
    font-family: var(--font-secondary);
    max-width: 80ch;
}
