.nav-btn {
    position: absolute;
    padding: 0.5em;
    right: 1em;
    top: 1em;
    z-index: 1000;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-btn {
    position: fixed;
}

.nav-open .nav-btn--hamburger {
    transform: rotate(0.625turn);
}

.nav-open .nav-btn--hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .nav-btn--hamburger::after {
    opacity: 0;
}

.nav-btn--hamburger {
    display: block;
    position: relative;
}

.nav-btn--hamburger,
.nav-btn--hamburger::before,
.nav-btn--hamburger::after {
    width: 2rem;
    height: 3px;
    border-radius: 1rem;
    transition: transform 0.25s ease-in-out;
}

.nav-btn--hamburger::before,
.nav-btn--hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.nav-btn--hamburger::before {
    top: 6px;
}

.nav-btn--hamburger::after {
    bottom: 6px;
}

.nav-btn--hamburger,
.nav-btn--hamburger::before,
.nav-btn--hamburger::after {
    background-color: var(--color-accent);
}