/* Navigation and hamburger menu */

.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--color-dark);
    color: var(--color-light);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav__link {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    color: inherit;
    text-decoration: none;
}

.nav__link:hover {
    color: var(--color-accent-secondary);
}

.nav-btn {
    position: absolute;
    padding: 0.5em;
    right: 1em;
    top: 1em;
    z-index: 1000;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-btn {
    position: fixed;
}

.nav-open .nav-btn--hamburger {
    transform: rotate(0.625turn);
}

.nav-open .nav-btn--hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .nav-btn--hamburger::after {
    opacity: 0;
}

.nav-btn--hamburger {
    display: block;
    position: relative;
}

.nav-btn--hamburger,
.nav-btn--hamburger::before,
.nav-btn--hamburger::after {
    width: 2rem;
    height: 3px;
    border-radius: 1rem;
    transition: transform 0.25s ease-in-out;
}

.nav-btn--hamburger::before,
.nav-btn--hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.nav-btn--hamburger::before {
    top: 6px;
}

.nav-btn--hamburger::after {
    bottom: 6px;
}

.nav-btn--hamburger,
.nav-btn--hamburger::before,
.nav-btn--hamburger::after {
    background-color: var(--color-accent);
}