/* Services list (inside My services) */

.services {
    margin-bottom: 2rem;
    text-align: left;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
}

.services__service {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5rem;
    font-family: var(--font-secondary);
}

@media (min-width: 800px) {
    .services__service {
        margin-bottom: 0;
    }

    .services__service + .services__service {
        margin-left: 2rem;
    }
}