*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: "Reem Kufi", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;

    --fw-reg: 400;
    --fw-bold: 700;

    --color-light: #f0f0f0;
    --color-dark: #060302;
    --color-dark-secondary: #545454;
    --color-accent: #bf4d47;
    --color-accent-secondary: #fcc200;
    --color-accent-light: #dbd9c5;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.25rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* if more than 800 */
@media (min-width: 800px) {
    :root {
        --fs-h1: 5.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2rem;
        --fs-body: 1.25rem;
    }
}

/* General styles */

/* smooth scrolling */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

.intro,
.my-work,
.my-services,
.about-me {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--color-accent);
    outline-offset: 3px;
}

a {
    color: var(--color-accent);
    text-decoration: none;
    transition: 250ms;
}

a:hover {
    color: var(--color-accent-light);
}

/* Buttons */

/* Arrow next to the button */

.about-me__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.arrow--wrapper {
    display: flex;
    justify-content: left;
    max-width: 400px;
    width: 100%;
}

.btn_arrow {
    filter: invert(80%) sepia(23%) saturate(5276%) hue-rotate(0deg) brightness(105%) contrast(101%);
    height: 3.2em;
    position: relative;
    animation: arrowJump 1.25s infinite ease-in-out;
}

@keyframes arrowJump {
    0% {
        transform: translateY(-0.2rem);
    }
    20% {
        transform: translateY(0.5rem);
    }
    100% {
        transform: translateY(-0.2rem);
    }
}

.btn_arrow--text {
    color: var(--color-accent);
    height: 1.15em;
    position: relative;
    margin-top: 0.7em;
    margin-right: -2.3em;
    font-family: var(--ff-secondary);
    font-size: 0.8em;
    animation: textJump 1.25s infinite ease-in-out;
}

@keyframes textJump {
    0% {
        transform: translateY(-0.2rem) rotate(-90deg);
    }
    20% {
        transform: translateY(0.5rem) rotate(-90deg);
    }
    100% {
        transform: translateY(-0.2rem) rotate(-90deg);
    }
}

.btn_text_arrow_wrapper {
    display: flex;
}

.btn {
    display: inline-block;
    padding: 1em 2.5em;
    /* background: var(--color-accent-secondary); */
    /* color: var(--color-dark); */
    text-decoration: none;
    cursor: pointer;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    font-family: var(--ff-secondary);
    border-radius: 0.1rem;
    position: relative;
    transition: all 250ms ease-in-out;
    overflow: hidden; /* hide slide element */
}

#btn--resume {
    background: var(--color-dark-secondary);
    color: var(--color-accent-light);
}

#btn--projects {
    background: var(--color-accent-secondary);
    color: var(--color-dark);
}

/* Buttons animation */

.btn:before {
    /* slide element before */
    width: 50px;
    background-color: hsla(0, 0%, 100%, 0.3);
    right: calc(100% + 38px);
    transform: skew(-45deg);
    transition: all 300ms ease-in-out 150ms;
    z-index: 1;
}

.btn:after,
.btn:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
}

.btn:after {
    /* slide element after */
    right: 0px;
    width: 0;
    background-color: var(--color-accent-light);
    transition: all 300ms ease-in-out 0s;
}

.btn span {
    /* button text */
    display: block;
    position: relative;
    z-index: 1;
}

.btn:focus,
.btn:hover,
#btn--resume:focus,
#btn--resume:hover {
    border-radius: 0.1rem;
    color: var(--color-dark);
    transform: scale(1.1, 1.1);
}

.btn:focus:before,
.btn:hover:before {
    right: -88px;
}

.btn:focus:after,
.btn:hover:after {
    left: 0;
    right: auto;
    width: 100%;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: 0.4em;
    align-self: center;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro {
    background: var(--color-accent);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    color: var(--color-light);
}

.section__subtitle--about {
    background: var(--color-accent-secondary);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    color: var(--color-dark);
}

.section__subtitle--work {
    color: var(--color-accent-secondary);
    font-weight: var(--fw-bold);
    margin-bottom: 1.75em;
    font-family: var(--ff-primary);
}

/* header */

header {
    display: flex;
    justify-content: space-between;
}

.header-main {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(219, 217, 197, 0.73)),
        url("../img/pattern-bg.png");
    background-size: cover;
    padding: 1rem;
}

.intro::before {
    content: "";
    max-width: 400px;
    background: var(--color-accent-light);
    position: absolute;
    width: 400px;
    height: 400px;
    left: -10rem;
    top: -20rem;
    border-radius: 50%;
    animation: bubbleWobble 10s infinite ease-in-out;
}

.my-services::before {
    content: "";
    max-width: 800px;
    background: var(--color-accent-light);
    position: absolute;
    width: 800px;
    height: 800px;
    margin-left: -76rem;
    border-radius: 50%;
    z-index: -2;
    animation: bubbleWobble 10s infinite ease-in-out;
}

@keyframes bubbleWobble {
    0% {
        transform: translateX(-0.5rem) translateY(-0.5rem);
    }
    33% {
        transform: translateX(0.5rem) translateY(-0.5rem);
    }
    66% {
        transform: translateX(-0.5rem) translateY(0.5rem);
    }
    100% {
        transform: translateX(-0.5rem) translateY(-0.5rem);
    }
}

/* Navigation + hamburger menu */

.nav {
    position: fixed;
    background: var(--color-dark);
    color: var(--color-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--color-accent-secondary);
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: 2rem;
    height: 3px;
    border-radius: 1rem;
    transition: transform 0.25s ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}
.hamburger::after {
    bottom: 6px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--color-accent);
}

/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
    opacity: 1;
    /* background: radial-gradient(#fff, var(--color-light)); */
    border-radius: 50%;
}

.section__subtitle--intro {
    display: inline-block;
}

.first-name {
    color: car(--color-dark);
    font-weight: 400;
    text-transform: uppercase;
    animation: firstName 1.5s ease-in;
}

@keyframes firstName {
    from {
        margin: -0.5rem;
    }
    to {
        margin: 0;
    }
}

.last-name {
    letter-spacing: 0.4rem;
    color: var(--color-dark);
    font-weight: 700;
    text-transform: uppercase;
    animation: lastName 1.5s ease-in;
}

@keyframes lastName {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

/* if more than 600 */
@media (min-width: 601px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__title--intro {
        grid-area: title;
        margin-top: 2rem;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        margin-top: -1rem;
        width: calc(100% + 1.5em);
    }
}

/* if less than 960 */
@media (max-width: 960px) {
    .section__title--intro {
        font-size: 4rem;
    }
}

/* if less than 800 */
@media (max-width: 800px) {
    .section__title--intro {
        font-size: 3rem;
    }
}

/* if less than 700 */
@media (max-width: 700px) {
    .section__title--intro {
        font-size: 2.15rem;
    }
}

/* if less than 600 */
@media (max-width: 600px) {
    .section__title--intro {
        font-size: 4rem;
    }
}

/* About Me Section */

.about-me {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding-bottom: 5.25rem;
    overflow: hidden;
    text-align: center;
    margin: -5rem auto 0 auto;
    font-family: var(--ff-secondary);
}

.about-me__img {
    box-shadow: var(--bs);
    border-radius: 0.1rem;
}

.about-me a {
    color: var(--color-accent-secondary);
    border-bottom: 2px dotted var(--color-accent-secondary);
    text-decoration: none;
}

.about-me a:hover {
    color: var(--color-light);
    border-bottom: 2px dotted var(--color-light);
    text-decoration: none;
}

.about-me .highlighted-text {
    font-weight: 700;
    color: var(--color-accent-secondary);
}

.about-me .btn,
.about-me .btn:hover,
.about-me .btn:focus {
    color: var(--color-dark);
    width: 18rem;
    border: 0;
}

.about-me__body {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    font-family: var(--ff-secondary);
    padding-bottom: 3rem;
    text-align: left;
    margin: 0 auto;
}

.section__title--about {
    font-family: var(--ff-primary);
    color: var(--color-light);
    position: relative;
    margin-top: -2.5rem;
}

.section__title--about::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.5em auto;
    background: var(--color-light);
    opacity: 0.25;
}

/*  My services section (What I Do) */

.my-services {
    text-align: center;
    margin: -1.5rem auto -1.5rem auto;
}

.my-services h3 {
    font-family: var(--ff-primary);
}

.my-services .highlighted-text {
    font-weight: 700;
    color: var(--color-accent);
}

.section__title--services {
    color: var(--color-dark);
    position: relative;
    margin-top: -2.5rem;
}

.section__title--services::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.75em auto;
    background: var(--color-dark);
    opacity: 0.25;
}

.services {
    margin-bottom: 2em;
    text-align: left;
}

.service {
    max-width: 400px;
    margin: 0 auto 2em;
    font-family: var(--ff-secondary);
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }

    .service {
        margin-bottom: 0;
    }
    .arrow--wrapper {
        margin: 0 15px 0 15px;
    }
}

/* My Work (My Projects) */

.my-work {
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    margin: -5.25rem 0 -3rem 0;
}

.section__title--work {
    color: var(--color-light);
    margin-top: -2rem;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    margin: 0 auto;
    max-width: 1000px;
    font-family: var(--ff-secondary);
    font-size: 1rem;
}

.portfolio__item {
    background: var(--color-dark);
    /* overflow: hidden; */
    border-radius: 0.1rem;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}

.portfolio__img {
    object-fit: cover;
    height: 100%;
    margin: 0 auto;
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__text {
    color: var(--color-light);
    opacity: 0.5;
    margin-top: 0.75em;
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.1);
    opacity: 0.5;
}

.portfolio__item:hover .portfolio__text {
    transform: scale(1.1);
    opacity: 1;
}

/* footer */

.footer {
    background: var(--color-dark);
    color: var(--color-accent-secondary);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
    border-bottom: 5px dotted var(--color-accent-secondary);
    text-decoration: none;
}

/* .footer__link:hover, */
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    color: var(--color-light);
    border-bottom: 5px dotted var(--color-light);
    text-decoration: none;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0.75em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 0.5em;
}

/* Individual portfolio item styles */

.portfolio-intro {
    padding: 5em 2em 2em 2em;
}

.portfolio-item-individual {
    padding: 0 2em 4em;
    max-width: 1000px;
    margin: 0 auto;
    font-family: var(--ff-secondary);
}

.portfolio-item-individual p {
    max-width: 600px;
    margin: 1.5em auto;
}

.portfolio-item-individual .buttons {
    display: flex;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual .button {
    margin-right: 0.8em;
    font-size: 1rem;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    padding: 0.25em 1em;
    text-decoration: none;
    transition: 0.25s;
}

.portfolio-item-individual .button:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
}

.portfolio-item-individual .link {
    color: var(--color-accent);
    border-bottom: 2px dotted var(--color-accent);
    font-weight: 700;
    text-decoration: none;
    transition: 0.25s;
}

.portfolio-item-individual .link:hover {
    color: var(--color-dark-secondary);
    border-bottom: 2px dotted var(--color-accent-light);
}

.tech-icon {
    color: var(--color-dark-secondary);
    padding-right: 1rem;
    font-size: 2rem;
    margin-top: 0.35rem;
}

.section-wedge {
    background: var(--color-dark);
    position: relative;
    top: -2.25rem;
    left: 0rem;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg) skew(-1deg);
}

@media (min-width: 2250px) {
    .section-wedge {
        transform: none;
    }
}

.sr-heading {
    display: none;
}
