// *** FONTS ***
$font-primary: "Reem Kufi", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// *** COLORS ***
$color-light: #f0f0f0;
$color-dark-primary: #060302;
$color-dark-secondary: #545454;
$color-accent-primary: #bf4d47;
$color-accent-secondary: #fcc200;
$color-accent-ternary: #dbd9c5;

// *** FONT SIZES ***
$font-size-h1: 3rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1rem;
$font-size-body: 1.25rem;

// *** SHADOW ***
$shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
