*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-primary: "Reem Kufi", sans-serif;
    --font-secondary: "Open Sans", sans-serif;

    --font-weight-reg: 400;
    --font-weight-bold: 700;

    --color-light: #f0f0f0;
    --color-dark: #060302;
    --color-dark-secondary: #545454;
    --color-accent: #bf4d47;
    --color-accent-secondary: #fcc200;
    --color-accent-light: #dbd9c5;

    --font-size-h1: 3rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1rem;
    --font-size-body: 1.25rem;

    --shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
    :root {
        --font-size-h1: 5.5rem;
        --font-size-h2: 2.25rem;
        --font-size-h3: 1rem;
        --font-size-body: 1.25rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth; /* smooth scrolling */
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: var(--font-weight-bold);
}

a {
    color: var(--color-accent);
    text-decoration: none;
    transition: 250ms;
}

a:hover {
    color: var(--color-accent-light);
}

:focus {
    outline: 3px solid var(--color-accent);
    outline-offset: 3px;
}

/* Typography */

h1,
h2,
h3 {
    margin: 0;
    line-height: 1;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    color: var(--color-light);
    opacity: 0.5;
    font-size: var(--font-size-h3);
    font-weight: 300;
    margin-top: 0.75rem;
}

.container {
    padding: 5rem 2rem;
}

/* Buttons */

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative; /* position relative to the slide effect */
    padding: 0.5em 0.5em;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    border-radius: 0.1rem;
    transition: all 250ms ease-in-out;
    overflow: hidden; /* hide slide element */

    --effect-width: 20px;
    --effect-width-skewed: 70px;
}

@media (min-width: 400px) {
    .btn {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 0.75rem;
    }
}

@media (min-width: 550px) {
    .btn {
        font-size: 1rem;
    }
}

@media (min-width: 700px) {
    .btn {
        font-size: 1.25rem;
    }
}

/* Buttons animation */

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
}

.btn::before {
    width: var(--effect-width);
    right: calc(100% + var(--effect-width-skewed) - var(--effect-width));
    background-color: hsla(0, 0%, 100%, 0.3);
    transform: skew(-45deg);
    transition: all 300ms ease-in-out 150ms;
} /* slide element before */

.btn:focus::before,
.btn:hover::before {
    right: calc(-1 * var(--effect-width-skewed));
}

.btn::after {
    right: 0;
    width: 0;
    background-color: var(--color-accent-light);
    transition: all 300ms ease-in-out 0s;
} /* slide element after */

.btn:focus::after,
.btn:hover::after {
    left: 0;
    right: auto;
    width: 100%;
}

.btn--resume {
    background-color: var(--color-dark-secondary);
    color: var(--color-accent-light);
}

.btn--projects {
    background-color: var(--color-accent-secondary);
    color: var(--color-dark);
}

.btn--projects:focus,
.btn--projects:hover,
.btn--resume:focus,
.btn--resume:hover {
    color: var(--color-dark);
    transform: scale(1.01, 1.01);
}

.btn__text {
    display: block;
    position: relative;
    z-index: 1;
}

/* Intro */

.title {
    margin-bottom: 0.4em;
    align-self: center;
}

.title--about {
    position: relative;
    margin-top: -2.5rem;
    font-family: var(--font-primary);
    color: var(--color-light);
}

.title--about::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto;
    background-color: var(--color-light);
    opacity: 0.25;
}

/* more than 600px always switches to desktop view */
@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
}

.intro::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    max-width: 400px;
    left: -10rem;
    top: -20rem;
    background-color: var(--color-accent-light);
    border-radius: 50%;
    animation: bubbleWobble 10s infinite ease-in-out;
}

.intro__title {
    font-weight: var(--font-weight-reg);
    padding-bottom: 0.5rem;
    font-size: clamp(2rem, 0.625rem + 5vw, 5rem);
}

@media (min-width: 600px) {
    .intro__title {
        margin-top: 2rem;
        grid-area: title;
    }
}

.intro__title strong {
    display: block;
}

.intro__subtitle {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0.25em 1em;
    /* font-size: 1rem; */
    font-family: var(--font-secondary);
    background-color: var(--color-accent);
    color: var(--color-light);
    width: 100%;
}

@media (min-width: 400px) {
    .intro__subtitle {
        font-size: 1.25rem;
    }
}

@media (min-width: 600px) {
    .intro__subtitle {
        position: relative;
        min-width: calc(100% + 2.75rem);
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        left: -1.5em;
        margin-top: -1rem;
    }
}

@media (min-width: 800px) {
    .intro__subtitle {
        min-width: calc(100% + 3.25rem);
        font-size: 1.5rem;
    }
}

.intro__img {
    box-shadow: var(--shadow);
    opacity: 1;
    border-radius: 50%;
    min-width: clamp(10rem, 4rem + 16vw, 16rem);
    z-index: 2;
}

.intro__subtitle {
    display: inline-block;
}

.intro__first-name {
    color: var(--color-dark);
    font-weight: 400;
    text-transform: uppercase;
    animation: firstName 1.5s ease-in;
}

@keyframes firstName {
    from {
        margin: -0.5rem;
    }
    to {
        margin: 0;
    }
}

.intro__last-name {
    letter-spacing: 0.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-dark);
    animation: lastName 1.5s ease-in;
}

@keyframes lastName {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
}

.header__main {
    padding: 1rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(219, 217, 197, 0.73)),
        url("/img/pattern-bg.webp");
    background-size: cover;
}

.my-services::before {
    content: "";
    position: absolute;
    max-width: 800px;
    width: 800px;
    height: 800px;
    margin-left: -76rem;
    z-index: -2;
    background-color: var(--color-accent-light);
    border-radius: 50%;
    animation: bubbleWobble 10s infinite ease-in-out;
}

@keyframes bubbleWobble {
    0% {
        transform: translateX(-0.5rem) translateY(-0.5rem);
    }
    33% {
        transform: translateX(0.5rem) translateY(-0.5rem);
    }
    66% {
        transform: translateX(-0.5rem) translateY(0.5rem);
    }
    100% {
        transform: translateX(-0.5rem) translateY(-0.5rem);
    }
}

/* Navigation and hamburger menu */

.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--color-dark);
    color: var(--color-light);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav__link {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    color: inherit;
    text-decoration: none;
}

.nav__link:hover {
    color: var(--color-accent-secondary);
}

.nav-btn__toggle {
    position: absolute;
    padding: 0.5em;
    right: 1em;
    top: 1em;
    z-index: 1000;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-btn__toggle {
    position: fixed;
}

.nav-open .nav-btn__toggle--hamburger {
    transform: rotate(0.625turn);
}

.nav-open .nav-btn__toggle--hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .nav-btn__toggle--hamburger::after {
    opacity: 0;
}

.nav-btn__toggle--hamburger {
    display: block;
    position: relative;
}

.nav-btn__toggle--hamburger,
.nav-btn__toggle--hamburger::before,
.nav-btn__toggle--hamburger::after {
    width: 2rem;
    height: 3px;
    border-radius: 1rem;
    transition: transform 0.25s ease-in-out;
}

.nav-btn__toggle--hamburger::before,
.nav-btn__toggle--hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.nav-btn__toggle--hamburger::before {
    top: 6px;
}

.nav-btn__toggle--hamburger::after {
    bottom: 6px;
}

.nav-btn__toggle--hamburger,
.nav-btn__toggle--hamburger::before,
.nav-btn__toggle--hamburger::after {
    background-color: var(--color-accent);
}

/* About Me Section */

.about-me {
    margin: -5rem auto 0 auto;
    padding-bottom: 5.25rem;
    text-align: center;
    overflow: hidden;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.about-me__buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.about-me__link {
    border-bottom: 2px dotted var(--color-accent-secondary);
    color: var(--color-accent-secondary);
    text-decoration: none;
}

.about-me__link:hover {
    border-bottom: 2px dotted var(--color-light);
    color: var(--color-light);
    text-decoration: none;
}

.highlighted-text {
    font-weight: 700;
    color: var(--color-accent-secondary);
}

.about-me .btn,
.about-me .btn:hover,
.about-me .btn:focus {
    width: 18rem;
    border: 0;
}

.about-me__body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 3rem;
    max-width: 900px;
    text-align: left;
    font-family: var(--font-secondary);
}

/*  My services section (What I Do) */

.my-services {
    text-align: center;
    margin: -1.5rem auto -1.5rem auto;
}

.my-services h3 {
    font-family: var(--font-primary);
}

.my-services .highlighted-text {
    font-weight: 700;
    color: var(--color-accent);
}

.title--services {
    position: relative;
    margin-top: -2.5rem;
    color: var(--color-dark);
}

.title--services::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.75em auto;
    background-color: var(--color-dark);
    opacity: 0.25;
}

.services {
    margin-bottom: 2em;
    text-align: left;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
}

.service {
    max-width: 400px;
    margin: 0 auto 2em;
    font-family: var(--font-secondary);
}

@media (min-width: 800px) {
    .service {
        margin-bottom: 0;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* My Work (My Projects) */

.my-work {
    margin: -5.25rem 0;
    text-align: center;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.my-work__subtitle {
    margin-bottom: 1.75em;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    color: var(--color-accent-secondary);
}

.title--work {
    margin-top: -2rem;
    color: var(--color-light);
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    margin: 0 auto;
    max-width: 1000px;
    font-family: var(--font-secondary);
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    border-radius: 0.1rem;
    background-color: var(--color-dark);
}

.portfolio__img {
    object-fit: cover;
    margin: 0 auto;
    height: 100%;
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(105%);
    opacity: 0.5;
}

.footer {
    padding: 2.5em 0;
    text-align: center;
    font-size: var(--font-size-h2);
    background-color: var(--color-dark);
    color: var(--color-accent-secondary);
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer__link {
    font-weight: var(--font-weight-bold);
    border-bottom: 5px dotted var(--color-accent-secondary);
    text-decoration: none;
}

.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    border-bottom: 5px dotted var(--color-light);
    color: var(--color-light);
    text-decoration: none;
}

.social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0.75em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 0.5em;
}

/* Individual portfolio item styles */

.portfolio-intro {
    padding: 5em 2em 2em 2em;
}

.portfolio-item-individual {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2em 4em;
    font-family: var(--font-secondary);
}

.portfolio-item-individual p {
    max-width: 600px;
    margin: 1.5em auto;
}

.portfolio-item-individual .buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.portfolio-item-individual .button {
    margin-right: 0.8em;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.25em 1em;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    transition: 0.25s;
}

.portfolio-item-individual .button:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
}

.portfolio-item-individual .link {
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px dotted var(--color-accent);
    color: var(--color-accent);
    transition: 0.25s;
}

.portfolio-item-individual .link:hover {
    color: var(--color-dark-secondary);
    border-bottom: 2px dotted var(--color-accent-light);
}

.tech-icon {
    padding-right: 1rem;
    margin-top: 0.35rem;
    font-size: 2rem;
    color: var(--color-dark-secondary);
}

.section-wedge {
    position: relative;
    top: -2.25rem;
    width: 100%;
    height: 4rem;
    background-color: var(--color-dark);
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg) skew(-1deg);
}

@media (min-width: 2250px) {
    .section-wedge {
        transform: none;
    }
}

.sr-heading {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
